#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# additionally enable PIE and BINDNOW, https://wiki.debian.org/Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Fix for https://bugs.debian.org/749975, after changes to upstream code in 2.8
# see also https://github.com/mm2/Little-CMS/issues/32
# https://lists.debian.org/debian-mentors/2016/10/msg00158.html
# Applied in /usr/share/dpkg/buildflags.mk
export DEB_CPPFLAGS_MAINT_APPEND = -DCMS_PTR_ALIGNMENT=_Alignof\(double\)

%:
	dh $@

# dh_strip_nondeterminism repackages the src.zip file, which is completely
# unnecessary
# Bug fix for 935177
.PHONY: override_dh_strip_nondeterminism
override_dh_strip_nondeterminism:
	dh_strip_nondeterminism --exclude=src.zip
